* {
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: whitesmoke;
    
}
header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 120);
    color: white;
    
}
footer{
    background-color:rgb(0, 0, 120);
    padding-top: 20px;
}
.footerTitle{
    color: white;
    text-align: center;
    font-family: rubik-bold;
}
.contactUsContainer{
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 25px;
    font-family: rubik-light;
    margin-top: 8px;
}
.title {
    text-align: center;
    font-family: jost-regular;
    font-size: 50px;
}
.subTitle{
    font-size: 25px;
    margin-top: -10px;
}
.headerLinksContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 23px;
    margin-top: -5px;
    text-decoration: none;
    background-color: #23abff;
    color: white;
}
.mainContentContainer{
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.mainContentContainer h1{
    text-align: center;
    font-family: rubik-bold;
    font-size: 35px;
    
}
.mainContentContainer p{
    font-size: 25px;
    font-family: rubik-light;
    
    border-width: 0px;
    border-left-width: 5px;
    border-style: solid;
    padding-left: 15px;
}
.introductionParagraph{
    border-left-color: #23abff;
}
.goalsParagraph{
    border-left-color:#23abff;
}
.howToParagraph{
    border-left-color: rgb(255, 111, 0);
}
.orangeText{
    color: rgb(255, 111, 0);
    font-weight: bold;
}
.blueText{
    color: rgb(0, 119, 255);
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 23);
    font-family: jost-semiBold;
}
a:hover{
    text-decoration: underline;
}
#underlineLink{
    text-decoration: underline;
}
/* input {
    height: 40px;
    width: 400px;
    font-size: 20px;
}
input[type=email], input[type=password]{
    padding-left: 35px;
    padding-right: 10px;
    transition: 0.25s;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}
input[type=email]:focus,
input[type=password]:focus {
    padding-left: 35px;
    padding-right: 10px;
    border-bottom-width: 4px;
    border-bottom-color:rgb(0, 0, 158);
    border-bottom-style: solid;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
} */
/*
.emailInputContainer{
    align-self: center;
}
.passwordInputContainer{
    align-self: center;
    text-align: center;
}
.passwordInputLabelContainer{
    width: 450px;
}
#CE{
    background-color: white;
    background-image: url("../../images/emailInput.png");
    background-position: 0px 7.5px;
    background-repeat: no-repeat;
    background-size: auto 25px;
}
#CP{
    background-color: white;
    background-image: url('../../images/passwordInput.png');
    background-position: 4px 7.5px;
    background-repeat: no-repeat;
    background-size: auto 25px;
}
.submitButton{
    background-color: rgb(0, 0, 158);
    color: white;
    border-radius: 15px;
    border-width: 5px;
    border-color: transparent;
    width: 350px;
    height: 40px;
    font-size: 20px;
    font-family: jost-medium;
    box-shadow: 0 6px #999;
}
.submitButton:hover{
    background-color: rgb(49 49 210);
}
.submitButton:active{
    transform: translateY(4px);
    box-shadow: 0 1px #666;
} */
/* Jost Fonts */
@font-face {
    font-family: jost-regular;
    src: url(../../Fonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: jost-medium;
    src: url(../../Fonts/Jost/static/Jost-Medium.ttf);
}
@font-face {
    font-family: jost-thin;
    src: url(../../Fonts/Jost/static/Jost-Thin.ttf);
}
@font-face {
    font-family: jost-semiBold;
    src: url(../../Fonts/Jost/static/Jost-SemiBold.ttf);
}
@font-face {
    font-family: jost-bold;
    src: url(../../Fonts/Jost/static/Jost-Bold.ttf);
}
@font-face {
    font-family: jost-light;
    src: url(../../Fonts/Jost/static/Jost-Light.ttf);
}
/* Rubik Fonts */
@font-face {
    font-family: rubik-regular;
    src: url(../../Fonts/rubik/static/Rubik-Regular.ttf);
}
@font-face {
    font-family: rubik-light;
    src: url(../../Fonts/rubik/static/Rubik-Light.ttf);
}
@font-face {
    font-family: rubik-bold;
    src: url(../../Fonts/rubik/static/Rubik-Bold.ttf);
}
@font-face {
    font-family: rubik-semiBold;
    src: url(../../Fonts/rubik/static/Rubik-SemiBold.ttf);
}