.states{
    text-decoration: underline;
}
.list{
    list-style: none;
}
.flexbox{
    display:flex;
    justify-content: space-between;
}
.left{
    margin-left: 2%;
    /* border: 1px solid black; */
}
.right {
    margin-right: 2%;
    /* border: 1px solid black; */
}
p{
    font-size:20px;
}

.flexmid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}
.comp{
    align-self: flex-start;
}