/* General CSS */
* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 120);
    color: white;
    
}
footer{
    background-color:rgb(0, 0, 120);
    padding-top: 20px;
}

/* CSS for the footer title */
.footerTitle{
    color: white;
    text-align: center;
    font-family: rubik-bold;
}
/* CSS for the contact container inside of the footer */
.contactUsContainer{
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 25px;
    font-family: rubik-light;
    margin-top: 8px;
}

/* Code for the title inside of the header */
.title {
    text-align: center;
    font-family: jost-regular;
    font-size: 50px;
}
/* Code for the title under the main title (State Pricing Analytics) */
.subTitle{
    font-size: 25px;
    margin-top: -10px;
}
/* Container CSS for the links under the header */
.headerLinksContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 23px;
    margin-top: -5px;
    text-decoration: none;
    background-color: #23abff;
    color: white;
}

/* CSS for the main content container */
.mainContentContainer{
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
/* css for the H1s inside of the main content container */
.mainContentContainer h1{
    text-align: center;
    font-family: rubik-bold;
    font-size: 35px;
}
/* css for p tags inside of the main content container*/
.mainContentContainer p{
    font-size: 25px;
    font-family: rubik-light;
    border-width: 0px;
    border-left-width: 5px;
    border-style: solid;
    padding-left: 15px;
}

/* css for the introduction paragraph */
.introductionParagraph{
    border-left-color: #23abff;
}
/* css for the goals paragraph */
.goalsParagraph{
    border-left-color:#23abff;
}
/* css for the how to paragraph */
.howToParagraph{
    border-left-color: rgb(255, 111, 0);
}

/* makes the text used inside of the class orange and bold */
.orangeText{
    color: rgb(255, 111, 0);
    font-weight: bold;
}
/* makes the text used inside of the class blue and bold */
.blueText{
    color: rgb(0, 119, 255);
    font-weight: bold;
}

/* css for the links at the top */
a{
    text-decoration: none;
    color: rgb(0, 0, 23);
    font-family: jost-semiBold;
}
/* css for when you hover over a link it will underline and turn blue*/
a:hover{
    text-decoration: underline;
    color: blue;
}
/* css which makes it so whatever page you are on it will underline the link at the header */
#underlineLink{
    text-decoration: underline;
}

/* Fonts */
/* Jost Fonts */
@font-face {
    font-family: jost-regular;
    src: url(../../Fonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: jost-medium;
    src: url(../../Fonts/Jost/static/Jost-Medium.ttf);
}
@font-face {
    font-family: jost-thin;
    src: url(../../Fonts/Jost/static/Jost-Thin.ttf);
}
@font-face {
    font-family: jost-semiBold;
    src: url(../../Fonts/Jost/static/Jost-SemiBold.ttf);
}
@font-face {
    font-family: jost-bold;
    src: url(../../Fonts/Jost/static/Jost-Bold.ttf);
}
@font-face {
    font-family: jost-light;
    src: url(../../Fonts/Jost/static/Jost-Light.ttf);
}

/* Rubik Fonts */
@font-face {
    font-family: rubik-regular;
    src: url(../../Fonts/rubik/static/Rubik-Regular.ttf);
}
@font-face {
    font-family: rubik-light;
    src: url(../../Fonts/rubik/static/Rubik-Light.ttf);
}
@font-face {
    font-family: rubik-bold;
    src: url(../../Fonts/rubik/static/Rubik-Bold.ttf);
}
@font-face {
    font-family: rubik-semiBold;
    src: url(../../Fonts/rubik/static/Rubik-SemiBold.ttf);
}
